/* reutilizables */

body {
  font-family: 'Raleway', sans-serif !important;
  color: rgb(201, 141, 12);
}

.container-flex-column {
  display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
}

.vh100 {
  height: 100vh;
}

/* Estilos para el index */
.first-body {
  background-color: rgb(54, 53, 53);
}

.first-title {
  color: rgb(201, 141, 12);
  font-size: 11vh;
}

/* estilos para la pagina principal*/

/* pseudoclase para las lineas */
.hr {
  width: 90%;
  display: inline-block;
  border-top: 2px solid rgb(194, 193, 193);
}
span.line::before {
  display: inline-block;
  border: 2px solid rgb(168, 167, 167);
  content: " ";
  width: 16px;
  height: 17px;
  position: relative;
  top: -11px;
  box-sizing: border-box;
}

span.line::after {
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid rgb(202, 201, 201);
  content: " ";
  width: 16px;
  height: 17px;
  position: relative;
  top: -11px;
}

.height {
  height: 30vh;

}
.col-xs-4, .col-xs-6 {
  padding: 7px;
}

.search {
  background-color: rgb(104, 103, 103);
  color: white;
}

.img {
  height: 30vh;
  width: 33.3%;
  float: left;
  padding: 4px;
}

#img-foot {
  margin: 0 20px ;
  box-sizing: border-box;
}
p.name {
  display: none;
}